img {
  width: 30%;
  border: white 5px solid
}

body {
  background-color: tan;
}


nav {
    background-color: black;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Times-New-Roman;
}

nav a:hover {
    color: #ADD8E6;
}

h1 {
  color: white;
}
